@import "./base/reset";
@import "./base/typography";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color: #f6f6f6;
$secondary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$process-icon-color: #7e7e7e;
$search-icon-color: #353535;

@mixin font-titles {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

@mixin font-text {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin grid {
	display: grid;
	gap: 20px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin shadow($force: 0.1) {
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, $force);
}
//retravailler shadow pour que ce soit plus joli

@mixin button {
	cursor: pointer;
	padding: 12px 20px;
	min-width: 190px;
	border-radius: 50px;
	border-width: 0px;
	@include shadow;
	color: $secondary-text-color;
	background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
	font-weight: 600;
	margin: 30px 0 30px 0;
	transition: all 0.2s;
	&:hover {
		@include shadow(0.2);
		opacity: 0.8;
	}
	//retravailler la fonction opacity sur shadow.
}

@mixin img-max {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*$breakpoints (
	mobile: 599px
);

@mixin responsive {
	@media screen and (min-width: map-get($breakpoints,mobile)){
		@content;
	}
}

$font-size: (logo-footer: , title: 5rem ...);
==> font-size: map-get ($font-size,logo-footer);

*/

.wrapper {
	@include font-text;
	background-color: $primary-background-color;
	max-width: 1440px;
	margin: auto;
}

/*est-ce bien utile si au final on ne l'utilise que ici ?*/

.loader {
	height: 100vh;
	width: 100%;
	background-color: $secondary-background-color;
	@include flex-center;
	animation: loader-display 3s ease-out forwards;
	z-index: 10;
	position: fixed;
	&::after {
		content: "";
		display: block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 5px solid transparent;
		border-bottom-color: $tertiary-color;
		animation: loader-spin 1.2s ease infinite;
	}
	@keyframes loader-display {
		0% {
			opacity: 0.9;
			visibility: visible;
		}
		80% {
			opacity: 0.9;
		}
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}
	@keyframes loader-spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

.title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 10px 0 10px 0;
}

.txt {
	font-weight: 200;
	margin: 10px 0;
}

.txt-bold {
	margin: 10px 0;
}
/*enlever txt-bold dans html*/

.min-title {
	font-weight: bold;
	margin: 10px 0;
}

.menu__title {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
}

.menu__min-title {
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 10px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 40px;
		bottom: 0;
		left: 0;
		border-bottom: 3px solid $tertiary-color;
	}
}

.header {
	@include flex-center;
	padding: 20px;
	@include shadow(0.3);
	position: relative;
	background-color: $secondary-background-color;
	&__btn {
		position: absolute;
		top: center;
		left: 10px;
	}
}

.footer {
	background-color: $footer-background-color;
	color: $secondary-text-color;
	padding: 20px;
	&__logo {
		margin: 10px 0 10px 0;
	}
	&__logo-svg {
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
		height: 20px;
	}
	&__links {
		list-style-type: none;
		padding: 5px 0 5px 0;
	}
	&__link {
		margin: 10px 0 10px 0;
	}
	&__icon {
		margin-right: 20px;
		width: 20px;
	}
}

.link {
	text-decoration: none;
	color: inherit;
}

article {
	border-radius: 20px;
	@include shadow;
}
/*ATTENTION retravailler les noms pour articles ou le transformer en place holder*/

/*retravailler les shadows: plus marqué en bas et bas droite*/

.restau {
	padding: 30px 20px;
	/*en mixin*/
	&__cards {
		@include grid;
		padding: 20px 0 20px 0;
	}

	&__card {
		position: relative;
		/*		&:hover {
			transform: scale(1.05);
			transition-duration: 0.3s;
		}
*/
	}

	&__img-section {
		border-radius: 20px 20px 0px 0px;
		overflow: hidden;
		height: 175px;
	}

	&__img {
		@include img-max;
	}
	&__info-section {
		@include grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 10px;

		.heart {
			justify-self: end;
			align-self: center;
		}
	}
	&__new {
		position: absolute;
		top: 15px;
		right: 15px;
		color: darken($tertiary-color, 50%);
		background-color: $tertiary-color;
		padding: 8px 10px;
	}
}

.process {
	padding: 30px 20px; /*en mixin !*/
	background-color: $secondary-background-color;
	&__cards {
		@include grid;
		padding: 20px 0 20px 15px;
	}
	&__card {
		position: relative;
		@extend article;
		@include grid;
		grid-template-columns: 20px 1fr;
		justify-items: start;
		align-items: center;
		height: 70px;
		padding-left: 40px;
		background-color: $primary-background-color;
		font-weight: 500;
	}

	&__number {
		background-color: $primary-color;
		border-radius: 40px;
		height: 30px;
		width: 30px;
		@include flex-center;
		color: $secondary-text-color;
		position: absolute;
		top: center;
		left: -15px;
	}
	&__icon {
		color: $process-icon-color;
	}
}
/* ATTENTION réfléchir pour la taille des icones */

.search {
	@include flex-center;
	background-color: $city-background-color;
	padding: 15px;
	&__icon {
		margin-right: 20px;
	}
}
/*ATTENTION revoir padding*/

.introducing {
	@include flex-center;
	flex-direction: column;
	text-align: center;
	padding: 30px 20px; /*en mixin !*/
	.btn {
		@include button;
	}
}

.hero {
	height: 270px;
	/*retravailler la taille en % pour responsive + un max-height*/
	&__img {
		@include img-max;
	}
}
.menu {
	position: relative;
	margin-top: -60px;
	background-color: $primary-background-color;
	border-radius: 40px 40px 0 0;
	padding: 30px 20px;
	/*ATTENTION revoir padding*/

	&__name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0px;
	}
	&__btn {
		@include flex-center;

		.btn {
			@include button;
		}
	}
}
.menu__content {
	@include grid;
	padding: 20px 0 20px 0;
	/*peut être pas utile car d'autres margin ... à vérifier*/
	section {
		@include grid;
	}
	/*ATTENTION retravailler nom sections pour menu*/
	
}

/*
.food {
	height: 70px;
	background-color: $secondary-background-color;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	&__description-price {
		@include grid;
		grid-template-columns: 2fr 1fr;
	}
	&__description {
		margin: 0 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.min-title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.txt {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__price {
		align-self: end;
		margin: 10px 0;
		font-weight: 600;
		//c'est pas beau! Voir pour mettre en font $ plus haut
		padding-left: 20px;
		width: 4rem;
	}
	&__check {
		background-color: $tertiary-color;
		color: $secondary-text-color;
		height: 100%;
		width: 4rem;
		@include flex-center;
		border-radius: 0 20px 20px 0;
		transition: all 0.4s;
		transform: translateX(4rem);
	}
	&__icon {
		font-size: 1.5rem;
		//c'est pas beau ! mettre un $
		transform: rotate(-360deg);
		transition: all 0.4s ease-in-out;
	}
	&:hover {
		& .food__check {
			transform: translateX(0);
		}
		& .food__icon {
			transform: rotate(0);
		}
	}
}
*/

/*
.food {
	height: 70px;
	background-color: $secondary-background-color;
	overflow: hidden;
	@include grid;
	grid-template-columns: 1fr 4rem 4rem;
	&__description {
		margin: 0 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.min-title{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.txt{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__price {
		align-self: end;
		margin: 10px 0;
		font-weight: 600;
		//c'est pas beau! Voir pour mettre en font $ plus haut
		padding-left: 20px;
		transition: all 0.3s;
		transform: translateX(4rem);
	}
	&__check {
		background-color: $tertiary-color;
		color: $secondary-text-color;
		height: 100%;
		width: 100%;
		@include flex-center;
		border-radius: 0 20px 20px 0;
		transition: all 0.4s;
		transform: translateX(4rem);
	}
	&__icon {
		font-size: 1.5rem;
		//c'est pas beau ! mettre un $
		transform: rotate(-360deg);
		transition: all 0.4s ease-in-out;
	}
	&:hover {
		& .food__check{
		transform: translateX(0);
		}
		& .food__icon{
			transform: rotate(0);
		}
		& .food__price{
			transform: translateX(0);
		}
	}
}
*/

.food {
	height: 70px;
	background-color: $secondary-background-color;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	&__description {
		width: calc(100% - 8rem);
		.min-title{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.txt{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__price {
		align-self: end;
		font-weight: 600;
		//c'est pas beau! Voir pour mettre en font $ plus haut
		width: 4rem;
		transition: all 0.3s;
		transform: translateX(100%);
	}
	&__check {
		background-color: $tertiary-color;
		color: $secondary-text-color;
		height: 100%;
		width: 4rem;
		@include flex-center;
		border-radius: 0 20px 20px 0;
		transition: all 0.4s;
		transform: translateX(100%);
	}
	&__icon {
		font-size: 1.5rem;
		//c'est pas beau ! mettre un $
		transform: rotate(-360deg);
		transition: all 0.4s ease-in-out;
	}
	&:hover {
		& .food__check{
		transform: translateX(0);
		}
		& .food__icon{
			transform: rotate(0);
		}
		& .food__price{
			transform: translateX(0);
		}
	}
}

.food{
	
	@for $i from 1 through 5 {
		&:nth-child(#{$i}){
				animation-delay: $i * 400ms;
		}
		}
	animation: cardApparition 800ms ease-out forwards;
	opacity: 0;
}

@keyframes cardApparition {
	0% {
	  transform: translateY(100%);
	  opacity: 0;
	}
	100%{
		transform: translateY(0);
	  opacity: 1;
	}
  }

.heart {
	&--empty {
		position: absolute;
		z-index: 2;
		font-size: 2rem;
		opacity: 1;
		transition: opacity 3s ease-in-out;
		&:hover {
			opacity: 0;
			& + .heart--full::after {
				transform: translateY(-100%) rotate(500deg);
			}
		}
	}
	&--full {
		font-size: 2rem;
		background-image: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
		background-clip: text;
		color: transparent;
		position: relative;
		overflow: hidden;
		z-index: 1;
		&::after {
			content: "";
			z-index: -1;
			position: absolute;
			bottom: -50%;
			left: -50%;
			height: 200%;
			width: 200%;
			background: $primary-background-color;
			border-radius: 35%;
			transform: translateY(0) rotate(0deg);
			transition: transform 6s ease-out;
		}
	}
}
