@import "./base/reset";
@import "./base/typography";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color:#f6f6f6;
$secondary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$operation-icon-color: #7e7e7e;
$search-icon-color: #353535;

@mixin font-titles {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

@mixin font-text {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

$font-size: (
	main: 30rem,
	secondary: 20rem,
	tertiary: 10rem,
	classic: 5rem,
);



/* voir si ya pas moyen de faire un truc super pété avec une fonction qui attribue la font en fonction de la taille que je choisi avec une maps ...*/

@mixin margin-main-section {
	margin: 50px 20px;
}

$padding: (
	small: 20px,
	medium:40px,
	big: 60px, 
);

/*retravailer les padding et les margin plus proprement ...*/

@mixin grid {
	display: grid;
	gap: 20px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	@include font-text;
}

.header {
	@include flex-center;
	padding: 20px;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	background-color: $secondary-background-color;
	&__btn {
		position: absolute;
		top: center;
		left: 10px;
	}
}

.footer {
	background-color: $footer-background-color;
	color: $secondary-text-color;
	padding: 20px;
	&__logo img {
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
	}
	ul {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

.btn{
@include flex-center;
padding-bottom: 60px; 
	button {
		cursor: pointer;
		padding: 12px 20px;
		min-width: 190px;
		border-radius: 50px;
		border-width: 0px;
		color: $secondary-text-color;
		background: $secondary-color;
		background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
		font-weight: bold;
	}
}

article {
	border-radius: 20px;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

/*retravailler les shadows: plus marqué en bas et bas droite*/

.restau{
padding: 20px;
background-color: $primary-background-color;
&__cards {
	@include grid;

	&__card {
		position: relative;

		&__picture {
			border-radius: 20px 20px 0px 0px;
			overflow: hidden;
			height: 175px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__txt {
			@include grid;
			grid-template-columns: repeat(2, 1fr);

			.heart {
				justify-self: end;
				align-self: center;
			}
		}
		&--new {
			position: absolute;
			top: 15px;
			right: 15px;
			color: darken($tertiary-color, 50%);
			background-color: $tertiary-color;
			padding: 8px 10px;
		}
	}
}
}

.operating_cards {
	@include grid;
	padding: 20px;
	background-color: $secondary-background-color;

	&__card {
		position: relative;
		@extend article;
		@include grid;
		grid-template-columns: 20px 1fr;
		justify-items: start;
		align-items: center;
		height: 70px;
		padding-left: 40px;
		background-color: $primary-background-color;

		&__number {
			background-color: $primary-color;
			border-radius: 40px;
			height: 30px;
			width: 30px;
			@include flex-center;
			color: $secondary-text-color;
			position: absolute;
			top: center;
			left: -15px;
		}
		&__icon{
			color:$operation-icon-color;
		}
	}
}

.search{
	@include flex-center;
	background-color: $city-background-color;
	padding:15px;
	&__icon{
		padding-right:20px;
	}
}

.introducing{
	padding-top:45px;
	text-align: center;
	background-color: $primary-background-color;
	h1, p{
		padding:10px;
	}
}