@import "./utils/variables";
@import "./utils/mixins";
@import "./base/reset";
@import "./base/typography";
@import"./base/wrapper";
@import "./composants/buttons";
@import "./composants/heart";
@import "./composants/link";
@import "./composants/loader";
@import "./layout/footer";
@import "./layout/header";
@import "./pages/home";
@import "./pages/restaurant";
