$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footer-background-color: #353535;
$footer-color: #ffff;
$primary-background-color: #ffff;
$city-background-color: #eaeaea;
$operation-icon-color: #7e7e7e;
$city-icon-color: #353535;

/*padding: 40px 4% 0px 4% en mixin !*/
/* mixin margin 
text-shadow mixin 
box shadow mixin
border radius classic / button / title en mixin*/
$font-size: (
	main: 30rem,
	secondary: 20rem,
	tertiary: 10rem,
	classic: 5rem,
);

@mixin grid {
	dislay: grid;
	gap: 10px;
	justify-items: center;
	align-items: center;
	justify-content: space-around;
	align-content: space-around;
}

footer {
	background-color: $footer-background-color;
	color: $footer-color;
	padding: 0;
}

a {
	text-decoration: none;
}

footer ul {
	list-style-type: none;
}

.img_housing img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

.img_housing {
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	width: 100%;
	height: 115px;
}
