@import "./base/reset";
@import "./base/typography";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$operation-icon-color: #7e7e7e;
$search-icon-color: #353535;



/*padding: 40px 4% 0px 4% en mixin !*/
/* mixin margin 
text-shadow mixin 
box shadow mixin
border radius classic / button / title en mixin*/
$font-size: (
	main: 30rem,
	secondary: 20rem,
	tertiary: 10rem,
	classic: 5rem,
);

@mixin grid {
	dislay: grid;
	gap: 10px;
	justify-items: center;
	align-items: center;
	justify-content: space-around;
	align-content: space-around;
}

@mixin flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer {
	background-color: $footer-background-color;
	color: $secondary-text-color;
	padding: 0;
	&__logo img {
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
	}
	ul {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 15px 20px;
	border-radius: 50px;
	border-width: 0px;
	color: $secondary-text-color;
	background: $secondary-color;
	background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
}

.img_housing img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

.img_housing {
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
	width: 100%;
	height: 115px;
}
