@import "./base/reset";
@import "./base/typography";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$operation-icon-color: #7e7e7e;
$search-icon-color: #353535;

@mixin font-titles {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

@mixin font-text {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

$font-size: (
	main: 30rem,
	secondary: 20rem,
	tertiary: 10rem,
	classic: 5rem,
);

/* voir si ya pas moyen de faire un truc super pété avec une fonction qui attribue la font en fonction de la taille que je choisi avec une maps ...*/

/*padding: 40px 4% 0px 4% en mixin !*/
/* mixin margin 
text-shadow mixin 
box shadow mixin
border radius classic / button / title en mixin*/

@mixin grid {
	display: grid;
	gap: 20px;
}

@mixin flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.wrapper {
	@include font-text;
}

.footer {
	background-color: $footer-background-color;
	color: $secondary-text-color;
	padding: 0;
	&__logo img {
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
	}
	ul {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 12px 20px;
	border-radius: 50px;
	border-width: 0px;
	color: $secondary-text-color;
	background: $secondary-color;
	background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
	font-weight: bold;
}

.restau_cards {
	@include grid;
	&__card {
		position: relative;
		&__picture {
			border-radius: 20px 20px 0px 0px;
			overflow: hidden;
			height: 175px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__txt {
			@include grid;
			grid-template-columns: repeat(2, 1fr);
			.heart {
				justify-self: end;
				align-self: center;
			}
		}
		&--new {
			position: absolute;
			top: 15px;
			right: 15px;
			color: darken($tertiary-color, 50%);
			background-color: $tertiary-color;
			padding: 8px 10px;
		}
	}
}
