@import "./base/reset";
@import "./base/typography";

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color: #f6f6f6;
$secondary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$process-icon-color: #7e7e7e;
$search-icon-color: #353535;

@mixin font-titles {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

@mixin font-text {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin grid {
	display: grid;
	gap: 20px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button {
	cursor: pointer;
	padding: 12px 20px;
	min-width: 190px;
	border-radius: 50px;
	border-width: 0px;
	color: $secondary-text-color;
	background: $secondary-color;
	background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
	font-weight: 600;
	margin: 30px 0 30px 0;
}

@mixin img-max {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*$breakpoints (
	mobile: 599px
);

@mixin responsive {
	@media screen and (min-width: map-get($breakpoints,mobile)){
		@content;
	}
}

$font-size: (logo-footer: , title: 5rem ...);
==> font-size: map-get ($font-size,logo-footer);

*/

.wrapper {
	@include font-text;
	background-color: $primary-background-color;
	max-width: 1440px;
}

/*est-ce bien utile si au final on ne l'utilise que ici ?*/

.title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 30px 0 10px 0;
}

.txt {
	font-weight: 200;
	margin: 10px 0;
}

.txt-bold {
	margin: 10px 0;
}
/*enlever txt-bold dans html*/

.min-title {
	font-weight: bold;
	margin: 10px 0;
}

.menu__title {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
}

.menu__min-title{
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 10px;
	border-bottom: 3px solid $tertiary-color;
}


.header {
	@include flex-center;
	padding: 20px;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	background-color: $secondary-background-color;
	&__btn {
		position: absolute;
		top: center;
		left: 10px;
	}
}

.footer {
	background-color: $footer-background-color;
	color: $secondary-text-color;
	padding: 20px;
	&__logo {
		margin: 10px;
	}
	&__logo-svg {
		filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
		height: 20px;
	}
	&__links {
		list-style-type: none;
	}
	&__link {
		margin: 10px;
	}
	&__icon {
		margin-right: 20px;
	}
}

.link {
	text-decoration: none;
	color: inherit;
}

article {
	border-radius: 20px;
	box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}
/*ATTENTION retravailler les noms pour articles ou le transformer en place holder*/

/*retravailler les shadows: plus marqué en bas et bas droite*/

.restau {
	padding: 30px 20px;
	/*en mixin*/
	&__cards {
		@include grid;
	}

	&__card {
		position: relative;
	}

	&__img-section {
		border-radius: 20px 20px 0px 0px;
		overflow: hidden;
		height: 175px;
	}

	&__img {
	@include img-max;
	}
	&__info-section {
		@include grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 10px;

		.heart {
			justify-self: end;
			align-self: center;
		}
	}
	&__new {
		position: absolute;
		top: 15px;
		right: 15px;
		color: darken($tertiary-color, 50%);
		background-color: $tertiary-color;
		padding: 8px 10px;
	}
}

.process {
	padding: 30px 20px; /*en mixin !*/
	background-color: $secondary-background-color;
	&__cards {
		@include grid;
	}
	&__card {
		position: relative;
		@extend article;
		@include grid;
		grid-template-columns: 20px 1fr;
		justify-items: start;
		align-items: center;
		height: 70px;
		padding-left: 40px;
		background-color: $primary-background-color;
		font-weight: 500;
	}

	&__number {
		background-color: $primary-color;
		border-radius: 40px;
		height: 30px;
		width: 30px;
		@include flex-center;
		color: $secondary-text-color;
		position: absolute;
		top: center;
		left: -15px;
	}
	&__icon {
		color: $process-icon-color;
	}
}
/* ATTENTION réfléchir pour la taille des icones */

.search {
	@include flex-center;
	background-color: $city-background-color;
	padding: 15px;
	&__icon {
		margin-right: 20px;
	}
}
/*ATTENTION revoir padding*/
/* Trouver une solution pour center correctement serach sous titre */

.introducing {
	@include flex-center;
	flex-direction: column;
	text-align: center;
	padding: 30px 20px; /*en mixin !*/
	.btn {
		@include button;
	}
}

.hero {
	height: 270px;
	/*retravailler la taille en % pour responsive + un max-height*/
	&__img {
		@include img-max;
	}
}
.menu {
	position: relative;
	margin-top: -60px;
	background-color: $primary-background-color;
	border-radius: 40px 40px 0 0;
	padding: 30px 20px;
	/*ATTENTION revoir padding*/

	&__name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0px;
	}
	&__btn {
		@include flex-center;

		.btn {
			@include button;
		}
	}
}
.menu__content {
	@include grid;
	section {
		@include grid;
	}
	/*ATTENTION retravailler nom sections pour menu*/
}

.food {
	@include grid;
	grid-template-columns: 1fr 30px 60px;
	height: 70px;
	justify-items: start;
	align-items: center;
	background-color: $secondary-background-color;
	&__check {
		background-color: $tertiary-color;
		color: $secondary-text-color;
		height: 100%;
		width: 100%;
		@include flex-center;
		border-radius: 0 20px 20px 0;
	}
	&__description {
		padding: 10px;
	}
}
