.header {
	@include flex-center;
	padding: 20px;
	@include shadow(0.1);
	position: relative;
	background-color: $secondary-background-color;
	&__btn {
		position: absolute;
		top: center;
		left: 10px;
	}
}
