@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
.operating_cards__card, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, .operating_cards__card, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* voir si ya pas moyen de faire un truc super pété avec une fonction qui attribue la font en fonction de la taille que je choisi avec une maps ...*/
/*retravailer les padding et les margin plus proprement ...*/
.wrapper {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
.header__btn {
  position: absolute;
  top: center;
  left: 10px;
}

.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
}
.footer__logo img {
  filter: invert(100%) sepia(93%) saturate(2%) hue-rotate(196deg) brightness(109%) contrast(100%);
}
.footer ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 12px 20px;
  border-radius: 50px;
  border-width: 0px;
  color: #ffffff;
  background: #ff79da;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  font-weight: bold;
}

article, .operating_cards__card {
  border-radius: 20px;
  box-shadow: 3px 4px 11px 5px rgba(0, 0, 0, 0.1);
}

/*retravailler les shadows: plus marqué en bas et bas droite*/
.restau_cards {
  display: grid;
  gap: 20px;
}
.restau_cards__card {
  position: relative;
}
.restau_cards__card__picture {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  height: 175px;
}
.restau_cards__card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restau_cards__card__txt {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.restau_cards__card__txt .heart {
  justify-self: end;
  align-self: center;
}
.restau_cards__card--new {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #1b6150;
  background-color: #99e2d0;
  padding: 8px 10px;
}

.operating_cards {
  display: grid;
  gap: 20px;
  background-color: #ffffff;
  /*pourquoi le fond ne s'applique pas ?*/
}
.operating_cards__card {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 20px 1fr;
  justify-items: start;
  align-items: center;
  height: 70px;
  padding-left: 40px;
}
.operating_cards__card__number {
  background-color: #9356dc;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: center;
  left: -2px;
}
.operating_cards__card__icon {
  color: #7e7e7e;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 15px;
}
.search__icon {
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
