@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

.title {
	font-weight: bold;
	font-size: 1.4rem;
	margin: 10px 0;
}

.txt {
	font-weight: 200;
	margin: 10px 0;
}

.min-title {
	font-weight: bold;
	margin: 10px 0;
}

.menu__title {
	font-family: "Shrikhand", Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
}

.menu__min-title {
	text-transform: uppercase;
	font-weight: 200;
	padding-bottom: 10px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 40px;
		bottom: 0;
		left: 0;
		border-bottom: 3px solid $tertiary-color;
	}
}