$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$primary-background-color: #f6f6f6;
$secondary-background-color: #ffffff;
$footer-background-color: #353535;
$city-background-color: #eaeaea;
$process-icon-color: #7e7e7e;
$search-icon-color: #353535;

//pour le responsive
$breakpoints: (
	laptop: 1024px,
	tablet: 768px,
);